@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;

  color: #0a0a0a;

  font-family: 'Poppins', sans-serif;

  overflow-x: hidden;
}

::selection {
  background: #9be931;
  color: #000000;
}

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }

}